# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]

jobs:
  build:
    
    runs-on: self-hosted
    
    steps:
    - name: Checkout dev1
      uses: actions/checkout@v2
      with:
        ref: dev
        token: ${{secrets.TEST}}
    - name: Use Node.js 10.x
      run: pm2 restart 0
